<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<title>QA - admin</title>
</head>
<body>
	<div>
		<form method="post" action="/edit">
			question:<br/>
			 <input type="text" name="question" ><br/>
			answer:<br/>
			 <input type="text" name="answer1" ><input type="checkbox" name="right1" ><br/>
			 <input type="text" name="answer2" ><input type="checkbox" name="right2" ><br/>
			 <input type="text" name="answer3" ><input type="checkbox" name="right3" ><br/>
			 <input type="text" name="answer4" ><input type="checkbox" name="right4" ><br/>
			 <input type="text" name="answer5" ><input type="checkbox" name="right5" ><br/>
			 <input type="submit" value="send">
		</form
	</div>
</body>
</html>

