<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>QA</title>
</head>
<body>
	<h1>QA</h1>
	<hr />
	
	<ul>
		<% @questions.each do |question| %>
		<li data-id="<%= question.id %>">
			<%= question.content %>	
	
		</li>	
		<% end %>
	</ul>
</body>
</html>

